<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Trace">
    <targets>
        <target name="logfile" xsi:type="File"
                fileName="/Users/anjalo/Documents/GitHub/AnjaloHettiarachchi/EmployeeManager/EmployeeManager.API/logs/${shortdate}.log"
                layout="${longdate} ${level:uppercase=true} ${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>